@import '../../App.scss';

.pokelist {
    position: relative;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 16px;
    justify-content: center;
    margin: 0 auto;
    max-width: 1300px;
    min-height: calc(100vh - $header-height - 132px);
    padding: 42px 32px;

    li {
        justify-self: center;
    }
}

.pagination {
    display: flex;
    justify-content: center;
    height: 42px;

    &> button {
        background-color: $button-color;
        border-radius: 8px;
        padding: 8px 16px;
        cursor: pointer;
    }

    &> button:first-child {
    }

    &>ul.page {
        display: flex;
        align-items: center;
        margin: 0 24px;
        margin-top: auto;

        li {
            padding: 8px;
            margin: 0 4px;
            cursor: pointer;
        }

        li.current-page {
            border: 2px solid rgba($black-color, 15%);
            background-color: rgba($black-color, 10%);
        }
    }
}

@media (max-width: 1360px) {
    .pokelist {
        grid-template-columns: repeat(5, 1fr);
    }
}

@media (max-width: 1120px) {
    .pokelist {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (max-width: 900px) {
    .pokelist {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 700px) {
    .pokelist {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 460px) {
    .pokelist {
        grid-template-columns: 1fr;
    }
}
